<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>clintosarkit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AB39FE4F1FB9E60C00CB6F9C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AB39FE631FB9E60D00CB6F9C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AB39FE6E1FB9E60D00CB6F9C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
